# logs and symlinks
rholog.txt
rholog-*
sim-*

# build output
bin/

# Simulator files
rhosimulator/*

# Lockfile
Gemfile.lock

# IDE settings
.idea/*

# Sensitive Project Settings
build.yml

/.project