<div class="row-fluid">
    <div class="span4 no-phone">
        <%= render :partial => 'secondary' %>
    </div>

    <div class="span8 reflow-phone">
        <div class="margin10">
            <div class="fluid-container">
                <div class="navbar row-fluid">
                    <div class="navbar-inner">
                        <span class="brand">3. Add Expense</span>
                    </div>
                </div>

                <flashes></flashes>

                <form class="form">
                    <div class="controls row-fluid">
                        <div class="btn-group span12 text-center" style="margin-bottom: 10px;">
                            <button class="btn">Abroad</button>
                            <button class="btn active">Domestic</button>
                        </div>
                    </div>

                    <div class="controls row-fluid">
                        <input type="date" class="span12"/>
                    </div>

                    <div class="controls row-fluid">
                        <input type="text" class="span12" placeholder="Project code" data-provide="typeahead"
                               data-items="4" data-source='["Een", "Twee", "Drie"]'/>
                    </div>

                    <div class="controls">
                        <div class="row-fluid">
                            <label class="radio span6"><input name="type" type="radio"/> Hotel</label>
                            <label class="radio span6"><input name="type" type="radio"/> Transportation</label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio span6"><input name="type" type="radio"/> Restaurant (Lunch)</label>
                            <label class="radio span6"><input name="type" type="radio"/> Restaurant (Diner)</label>
                        </div>
                        <div class="row-fluid">
                            <label class="radio span6"><input name="type" type="radio"/> Other (Please
                                specify)</label>
                        </div>
                    </div>

                    <div class="controls row-fluid">
                        <span class="span1">&euro;</span>
                        <input type="number" class="span5" placeholder="Amount"/>
                    </div>

                    <div class="controls row-fluid">
                        <textarea class="span12" placeholder="Remarks"></textarea>
                    </div>

                    <div class="controls row-fluid">
                        <button class="btn">Add Evidence</button>
                    </div>

                    <div class="form-actions">
                        <div class="pull-left">
                            <a class="btn" href="#/create/overview">Back</a>
                        </div>
                        <div class="pull-right">
                            <a class="btn btn-primary" href="#/create/sign">Sign &amp; Send</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>